<nb-card>
  <nb-card-header>
    Add Product
  </nb-card-header>
  <nb-card-body>
    <form #addProductForm="ngForm" (keyup)="formChange()" class="custom-add">
      <span class="custom-control-description custom-add-description">Product Code</span>
      <input class="form-control custom-add-product-input" type="text" name="productCode" [(ngModel)]="inputProduct.code" #productCode="ngModel" required>
        <div *ngIf="productCode.errors && (productCode.dirty || productCode.touched)" class="alert alert-danger">
          <div [hidden]="!productCode.errors.required">
            You can't leave this empty
          </div>
        </div>
      <span class="custom-control-description custom-add-description">Input the product name</span>
      <input class="form-control custom-add-product-input" [autofocus] type="text" id="name" name="productName" [(ngModel)]="inputProduct.name" #productName="ngModel">
      <div *ngIf="productName.errors && (productName.dirty || productName.touched)" class="alert alert-danger">
        <div [hidden]="!productName.errors?.pattern">
          This character {{inputCharacters[inputCharacters.length - 1]}} is not allowed
        </div>
      </div>
      <span class="custom-control-description custom-add-description">Product description</span>
      <input class="form-control custom-add-product-input" type="text" name="productDescription" [(ngModel)]="inputProduct.description" #productName="ngModel">
      <span class="custom-control-description custom-add-description">Product category</span>
      <input class="form-control custom-add-product-input" type="text" name="productCategory" [(ngModel)]="inputProduct.category" #productCategory="ngModel">
      <span class="custom-control-description custom-add-description">Product Type</span>
      <input class="form-control custom-add-product-input" type="text" name="productType" [(ngModel)]="inputProduct.type" #productType="ngModel">
      <span class="custom-control-description custom-add-description">Product Brand</span>
      <input class="form-control custom-add-product-input" type="text" name="productBrand" [(ngModel)]="inputProduct.brand" #productBrand="ngModel">

      <div class="custom-btn-group">
        <button type="button" [disabled]="productCode.errors" class="btn btn-outline-success" style="float:right;" (click)="addProduct()">Add</button>
        <button type="button" class="btn btn-outline-warning" (click)=cancelAdding()>Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>

