@import 'src/app/@theme/styles/themes';

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #808080;
}

.modal-header {
  border: 3px solid #F37E41;
  span {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.modal-body {
  textarea {
    padding: 1rem auto;
  }
  label {
    width: auto;
    display: block;
    overflow-wrap: break-word;
  }
}

.modal-body.alert {
  background-color: unset;
}
